@require 'nib'

global-reset()

html
  font-family sans-serif

wide-screen()
  @media screen and (min-width: 640px)
    {block}

.emojized
  display inline-block

.title
  font-size 72px
  text-align center

  +wide-screen()
    margin-top 72px

  img
    width 36px
    height 36px

    +wide-screen()
      width 72px
      height 72px

.description
  margin 8px auto
  font-size 12px
  text-align center

  +wide-screen()
    margin 16px auto
    font-size 14px

  p
    margin 16px 0
    text-align center
    +wide-screen()
      margin 32px auto

  strong
    margin 0 2px
    font-weight bold

  span
    margin 0 2px

  ul
    width 250px
    margin 8px auto
    +wide-screen()
      width 420px
      margin 16px auto

  li
    margin 5px 0
    text-align left
    list-style-type disc
    color #aaa
    line-height 18px

  code
    display inline-block
    margin 0 2px
    padding 2px
    background #eee
    border-radius 3px
    color #f15d63
    font-family monospace

main
footer
  margin 0 auto
  width 100%
  max-width 508px

main // FOUC

  +wide-screen()
    min-height 302px

section
  display block
  margin 16px auto
  width 100%
  max-width 300px

  +wide-screen()
    max-width 508px
    margin 32px auto

  h2
    display none

.textarea
.preview
  display block
  width 100%
  box-sizing border-box
  height 96px
  padding 8px 10px
  border 1px solid #5dadf1
  border-radius 3px
  font-size 14px

.submit
  @extend section
  text-align center

  +wide-screen()
    text-align right

.tweet-button
.copy-button
  position relative
  display inline-block
  text-align center
  margin-left 12px
  padding 12px 16px 10px
  font-size 14px
  line-height 16px
  border-radius 3px
  border 1px solid #5dadf1
  background #5dadf1
  color #fff
  text-decoration none

  &:hover
  &.zeroclipboard-is-hover
    background #46a1ef

  &:active
  &.zeroclipboard-is-active
    background #1789eb

.twitter-icon
.copy-icon
  vertical-align middle
  margin-right 8px

.copy-button__tip
  position absolute
  top -42px
  left -100px
  right -100px
  margin auto
  padding 8px 0
  width 120px
  text-align center
  background lighten(#5dadf1, 30%)
  border-radius 3px
  transition all 0.2s ease
  transform translate3d(0, 5px, 0)
  opacity 0
  pointer-events none

  &:before
  &:after
    content ''
    display block
    position absolute
    left 50%
    bottom -4px
    width 0
    height 0
    border 2px solid lighten(#5dadf1, 30%)

  &:before
    margin-left -4px
    border-color lighten(#5dadf1, 30%) lighten(#5dadf1, 30%) transparent transparent

  &:after
    border-color lighten(#5dadf1, 30%) transparent transparent lighten(#5dadf1, 30%)

.copy-button__tip--active
  opacity 1
  transform translate3d(0, 0, 0)
  pointer-events auto

.social
  margin 16px auto
  text-align center

  +wide-screen()
    float left
    text-align left

  li
    display inline-block
    vertical-align top

footer
  clearfix()

  +wide-screen()
    margin-top 64px

.copyright
  margin 16px auto
  text-align center
  font-size 12px
  color #aaa

  +wide-screen()
    text-align right
    float right

.copyright a
  color #999
